PORT=5000
FRONTEND_URL=http://localhost:5173
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=thnhbnh06
DB_NAME=resmanager
JWT_SECRET=c3c091ca3abdc9f8ecb1a47b588ed504a60fb95e6f7625d6e72c93cb4048b460

TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_WAITER_CHAT_ID=your_waiter_group_chat_id
TELEGRAM_BOOKING_REMINDER_MINUTES=15
